:root {
    --primary-color: #ee4d2d;
    --text-color: #333;
}

@keyframes growth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


/* cách giả lập để biết ấn vào đăng ký nó hiện ra animation như nào là: inspect xong ấn vào div to nhất là modal rồi thêm display: none sau đó ấn tích r lại bỏ là bt*/
/* xong ta comment lại đoạn code modal đó tại ấn vào hiện ra là sau dùng js chưa học*/
 /*trong modal.body*/ /*thg nay dang nam duoi , bi overlay de len vi thg no position nen uu tien nam tren cx   */
/* để màu đỏ se nhin ro*/
/*con muon cho body len tren overlay se dung thuoc tinh z-index*/ 
@keyframes inden {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: inden linear 0.1s;    
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal__body {       
    background-color: #fff;
    margin: auto;
    width: 590px;
    height: 530px;  
    z-index: 1; 
    border-radius: 5px;
}





